<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/files/css/main.css}" /> 
</head> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  debugger1; 
	 <div id="layerPopup" th:if="${message} != ''" class="alert alert-danger">    
       
      	<span id="err001" th:text="${message}"> 
      	
      	 
      	
      </div>
      
      
       
      
      
<script >
	$(document).ready(function(){ 
		var htmltag = '<a id="close01" href="#none">닫기 </a>';
		$("#layerPopup").html(htmltag);
		
		$("#layerPopup").hide();
		
		var err = $("#err001").text();
		if(err != ""){
			$("#layerPopup").show();
			 
			  return false;
		}
	  
		 $("#close01").click(function(){ 
		   //$("#layerPopup").hide();
		 });
	});
 </script>
</th:block>
</html>
 